<div class="tab-pane fade" id="contact">
    Here, you can manage contact inquiries.
    <br /><br />

    <h3>Existing Contacts</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <% contacts.forEach(c=> { %>
                <tr>
                    <td>
                        <%= c.fullName %>
                    </td>
                    <td>
                        <%= c.phone %>
                    </td>
                    <td>
                        <%= c.email %>
                    </td>
                    <td>
                        <%= c.message %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</div>